.A {
    background-color: aquamarine;
    display: inline-block;
}

.doritos {
    width: 200px;
    padding-left: 250px}

    .B {
        background-color: aquamarine;
        display: inline-block
    }

.cheese {
    width: 200px;
    padding-left: 250px;
}